.dropdown {
  position: relative;
  display: inline-block;

  $openDropdownAnimationDuration: 0.2s;
  $gapBetweenBtnTextAndCaret: 5em;
  $defaultBorderRadius: 0.5em;
  $caretSize: 5px;
  $btnBackground: #2a2f3b;
  $btnPadding: 1em 1.5em;
  $menuBackground: #323741;
  $menuMargin: 0.5em 0 0;
  $menuPadding: 0.6em 0;
  $menuItemMargin: 0 0.6em;
  $menuItemPadding: 0.7em;

  &_block {
    display: block;
  }

  &__trigger {
    display: flex;
    gap: $gapBetweenBtnTextAndCaret;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $btnPadding;
    color: #fff;
    font-size: 16px;
    background-color: $btnBackground;
    border: 0;
    border-radius: $defaultBorderRadius;
    cursor: pointer;
    transition: background-color 0.1s linear;
    user-select: none;

    &:hover {
      background-color: lighten($btnBackground, 2.5%);
    }
  }

  &__caret {
    width: 0;
    height: 0;
    border-top: ($caretSize + 1px) solid #fff;
    border-right: $caretSize solid transparent;
    border-left: $caretSize solid transparent;
    transition: transform $openDropdownAnimationDuration linear;
  }

  &__menu {
    position: absolute;
    left: 50%;
    z-index: 90;
    width: max-content;
    min-width: 100%;
    max-width: 50vw;
    margin: $menuMargin;
    padding: $menuPadding;
    list-style: none;
    background: $menuBackground;
    border-radius: $defaultBorderRadius;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: $openDropdownAnimationDuration;
    transition-property: opacity, visibility;
    will-change: opacity, visibility;
    -webkit-overflow-scrolling: touch;

    li {
      margin: $menuItemMargin;
      padding: $menuItemPadding;
      color: #9fa5b5;
      border-radius: $defaultBorderRadius;
      cursor: pointer;
      transition: background 0.2s linear;

      a {
        color: currentcolor;
        text-decoration: none;
      }

      &[data-dropdown-item-active='true'] {
        background: darken($menuBackground, 10%);
      }

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }

      &:not([data-dropdown-item-active='true']):hover {
        background: darken($menuBackground, 5%);
      }
    }
  }

  &[data-dropdown-open='true'] &__caret {
    transform: rotate(180deg);
  }

  &[data-dropdown-open='true'] &__menu {
    visibility: visible;
    opacity: 1;
  }

  &[disabled],
  &[aria-disabled='true'] {
    opacity: 0.75;
  }

  &[disabled] &__trigger,
  &[aria-disabled='true'] &__trigger {
    pointer-events: none;

    &,
    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}
