//- Usage example:
//- +btn('Button-link')(href='/') - There is href - this is a link
//- +btn('Button-input', '', true) - There is isInput flag - this is a input
//- +btn('Button', 'success') - No href and isInput - this is a button

mixin btn(text, mods, isInput)
  //- Params:
  //- text    { string } - button text
  //- mods    { string } - list of modifiers
  //- isInput { bool }   - «This is a input» flag

  - const classes = $getMods('btn', mods);

  //- passed href, this is a link
  if (attributes.href)
    a.btn(class=classes)&attributes(attributes)!= text
      block

  //- else if passes isInput as true, this is a input
  else if (isInput)
    input.btn(class=classes value=text type='button')&attributes(attributes)

  //- else this is a button
  else
    button.btn(class=classes)&attributes(attributes)!= text
      block
