.btn {
  $backgroundColor: $color-main;
  $backgroundHoverColor: darken($color-main, 10%);
  $fontSize: 1em;
  $textColor: $white;
  $textHoverColor: $white;
  $borderRadius: 4px;
  $transitionDelay: 0.3s;

  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: $field-padding-vertical $field-padding-horizontal;
  overflow: hidden;
  color: $textColor;
  font-size: $fontSize;
  font-family: inherit;
  line-height: 150%;
  white-space: nowrap;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: $backgroundColor;
  background-image: none;
  border: 0;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: color $transitionDelay ease, background-color $transitionDelay ease;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $textHoverColor;
    text-decoration: none;
    background-color: $backgroundHoverColor;
  }

  // &_disabled,
  &:disabled {
    color: $base-text-color;
    background-color: $backgroundColor;
    cursor: not-allowed;
    opacity: 0.8;
    pointer-events: none;
  }

  // Rounded
  &_rounded {
    border-radius: 10px;
  }

  // Pill (extra rounded)
  &_pill {
    border-radius: em(100);
  }
}
