.burger {
  display: none;

  $burgerWidth: 2em;
  $burgerHeight: 1.5em;
  $burgerColor: $navTextColor;
  $activeBurgerColor: $gray-100;

  @media (max-width: $breakpoint768) {
    position: relative;
    z-index: 120;
    display: block;
    min-width: $burgerWidth;
    max-width: $burgerWidth;
    height: $burgerHeight;
    cursor: pointer;

    & > span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      background-color: $burgerColor;
      transition: all 0.4s ease;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    & > span {
      top: 50%;
      transform: translateY(-50%) scale(1);
    }

    &._active > span,
    &._active::before,
    &._active::after {
      background-color: $activeBurgerColor;
    }

    &._active span {
      transform: translateY(-50%) scale(0);
    }

    &._active::before {
      top: 50%;
      transform: rotate(45deg) translateY(-50%);
    }

    &._active::after {
      bottom: 50%;
      transform: rotate(-45deg) translateY(50%);
    }
  }
}
