.burger {
  display: none;

  @include media('md') {
    display: block;
    position: relative;
    z-index: $zi-tooltip;
    width: 31px;
    height: 22px;
    cursor: pointer;

    & > span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      transition: all 0.4s ease;
      background-color: $text-color;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    & > span {
      top: 50%;
      transform: translateY(-50%) scale(1);
    }

    &._active > span,
    &._active::before,
    &._active::after {
      background-color: $gray-800;
    }

    &._active span {
      transform: translateY(-50%) scale(0);
    }

    &._active::before {
      top: 50%;
      transform: rotate(45deg) translateY(-50%);
    }

    &._active::after {
      bottom: 50%;
      transform: rotate(-45deg) translateY(50%);
    }
  }
}
