h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $base-spacing 0 0.5em;
  font-weight: $heading-font-family;
  font-family: $heading-font-family;
  line-height: 1.5;

  a {
    &,
    &:visited {
      color: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
