// Replacement for default html colors
$aqua: hsl(197, 100%, 75%);
$blue: hsl(208, 100%, 43%);
$navy: hsl(210, 100%, 12%);
$teal: hsl(180, 59%, 51%);
$green: hsl(127, 63%, 49%);
$olive: hsl(153, 43%, 42%);
$lime: hsl(146, 100%, 50%);
$yellow: hsl(52, 100%, 50%);
$orange: hsl(28, 100%, 55%);
$red: hsl(3, 100%, 61%);
$fuchsia: hsl(314, 88%, 51%);
$purple: hsl(292, 88%, 42%);
$maroon: hsl(331, 74%, 30%);
$white: hsl(0, 0%, 100%);
$silver: hsl(0, 0%, 87%);
$gray: hsl(0, 0%, 67%);
$black: hsl(0, 0%, 7%);
