.container {
  max-width: $container-width;
  margin: 0px auto;
  padding: 0px $container-offset;

  @media (max-width: $container-width) {
    max-width: 767px;
  }

  @media (max-width: $breakpoint768) {
    max-width: none;
  }

  &-fluid {
    max-width: none;
    padding: 0px rem(55);

    @media (max-width: $breakpoint768) {
      padding: 0px rem(40);
    }

    @media (max-width: $breakpoint480) {
      padding: 0px $container-offset;
    }
  }
}
