.main-nav-submenu {
  $dropdownMaxHeight: 70vh;
  $linkPadding: em(12) 1em;
  $linkFontSize: em(14);
  $linkColor: $color-main;
  $linkHoverColor: #fff;
  $linkHoverBackgroundColor: $color-main;

  max-height: $dropdownMaxHeight;
  overflow-y: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    background: none;
  }

  &__link {
    &,
    &:visited {
      display: block;
      padding: $linkPadding;
      color: $linkColor;
      font-size: $linkFontSize;
      text-decoration: none;
      transition: 125ms ease;
      transition-property: color, background-color;
      will-change: color, background-color;

      @media (max-width: $breakpoint768) {
        color: $openedNavTextColor;
        font-size: 1em;
      }
    }

    &:hover,
    &:focus {
      color: $linkHoverColor;
      background-color: $linkHoverBackgroundColor;
    }

    &:active {
      box-shadow: inset 0 3px 5px rgb(0 0 0 / 12.5%);
    }
  }
}
