@import "./_variables.scss";

body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: $body-bg;
  color: $text-color;
  font-family: $font-family;

  &._no-scroll {
    @include media("md") {
      overflow: hidden;
    }
  }
}

.container {
  margin: 0px auto;
  padding: 0px $container-offset;
  max-width: $container-width;

  @media (max-width: $container-width) {
    max-width: 767px;
  }

  @include media("md") {
    max-width: none;
  }

  &-fluid {
    max-width: none;
    padding: 0px rem(55);

    @include media("md") {
      padding: 0px rem(40);
    }

    @include media("sm") {
      padding: 0px $container-offset;
    }
  }
}
