@import '_variables/colors';
@import '_variables/typography';
@import '_variables/_container';
@import '_variables/_nav';

// Other
$field-padding-vertical: rem(5);
$field-padding-horizontal: rem(12);
$btn-bg-color: $gray-600;
$btn-border-rad: 5px;
