@import '_variables/colors';
@import '_variables/typography';
@import '_variables/_container';
@import '_variables/_nav';

// Other
$field-padding-vertical: 5px;
$field-padding-horizontal: 12px;
$btn-bg-color: $gray-600;
$btn-border-rad: 5px;
