include '../../mixins/pug/svg-icon'
block variables

doctype html
html(lang="en")
    include ./head

    body
        .wrapper
            include ../../components/header/header

            main.main 
                block content

            include ../../components/footer/footer

        block script
            script(src='js/index.min.js')