include ../../mixins/mixins.pug
block variables

doctype html
html.page(lang='en')
  include ./head.pug

  body
    .wrapper
      include ../../components/header/header.pug

      main.wrapper__content
        block content

      include ../../components/footer/footer.pug

    block script
      script(src='js/index.js')
