include ../../mixins/mixins
block variables

doctype html
html.page(lang="en")
  include ./head

  body
    .wrapper
      include ../../components/header/header

      main.wrapper__content 
        block content

      include ../../components/footer/footer

    block script
      script(src='js/index.js')