head
   meta(charset="UTF-8")
   meta(name="theme-color" content="#ccc")
   meta(http-equiv="X-UA-Compatible" content="IE=edge")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")

   meta(name='format-detection', content='telephone=no')
   meta(name='format-detection', content='date=no')
   meta(name='format-detection', content='address=no')
   meta(name='format-detection', content='email=no')

   meta(name='mobile-web-app-capable' content='yes')
   meta(name='application-name' content="#{title}")

   meta(name='apple-mobile-web-app-capable' content='yes')
   meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
   meta(name='apple-mobile-web-app-title' content="#{title}")
   title #{title}
   link(rel='stylesheet' href='css/main.min.css')

   <!--[if lt IE 9]>
   script(defer src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
   <![endif]-->
