.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;

  // IE11 fix
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: block;
  }

  &__content {
    flex: 1 1 auto;
  }
}
