.main-nav {
  @media (max-width: $breakpoint768) {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: $zi-modal;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $nav-color;
    transition: left 0.4s ease;

    &--active {
      left: 0;
    }
  }

  &__list {
    display: flex;
    gap: rem(25);
    align-items: center;
    font-weight: 500;
    font-size: $nav-font-size;
    list-style: none;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      padding-top: rem(45);
      font-size: $nav-opened-font-size;
    }
  }

  &__item {
    padding: 15px 0px;

    @media (max-width: $breakpoint768) {
      padding: 10px 0px;
      text-align: center;
    }

    &--parent {
      position: relative;
      cursor: pointer;

      @include hover {
        & > a {
          color: $nav-text-color-active;

          &::after {
            margin-top: 7px;
            border-top-color: $nav-text-color-active;
            border-right-color: $nav-text-color-active;
            transform: rotate(315deg);
          }
        }

        .main-nav__dropdown {
          margin-top: 0;
          opacity: 1;
          pointer-events: all;
        }
      }

      a {
        display: flex;
        gap: 10px;

        &::after {
          display: block;
          width: 7px;
          height: 7px;
          margin-top: 3px;
          border-top: 2px solid $nav-text-color;
          border-right: 2px solid $nav-text-color;
          transform: rotate(135deg);
          transition: border-top-color 0.5s ease, border-right-color 0.5s ease, transform 0.5s ease,
            margin-top 0.5s ease;
          content: '';

          @media (max-width: $breakpoint768) {
            border-top-color: $nav-opened-text-color;
            border-right-color: $nav-opened-text-color;
          }
        }
      }
    }

    a {
      color: $nav-text-color;
      text-decoration: none;
      transition: color 0.4s ease;

      @include hover {
        color: $nav-text-color-active;
      }

      @media (max-width: $breakpoint768) {
        color: $nav-opened-text-color;
      }
    }

    &.is-active {
      color: $nav-text-color-active;
    }
  }

  &__dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: $zi-dropdown;
    min-width: rem(150);
    margin-top: rem(15);
    padding: rem(10) rem(15);
    font-size: $font-size;
    background-color: $nav-color;
    box-shadow: 0 0 5px 0 $black;
    cursor: auto;
    opacity: 0;
    transition: opacity 0.2s ease, margin-top 0.2s ease;
    pointer-events: none;

    @media (max-width: $breakpoint768) {
      left: 50%;
      min-width: rem(200);
      padding: rem(7) rem(10);
      transform: translateX(-50%);
    }

    .nav__item {
      display: block;
      padding: rem(10) 0px;

      a {
        display: inline-block;
        color: $nav-opened-text-color;

        @include hover {
          color: $nav-text-color-active;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
