mixin icon
  -
    const { name, type } = attributes;
    const spriteFileName = type.toLowerCase() === 'mono' ? 'sprite-mono' : 'sprite-multi';

    delete attributes.name;
    delete attributes.type;

  svg.icon(role='img')&attributes(attributes)
    use(xlink:href=`img/sprites/${spriteFileName}.svg#${name}`)
