mixin icon(iconName, className = '')
  unless (className == '')
    svg(class= className)
      use(xlink:href=`./img/sprite.svg#${iconName}`)
  else
    svg
      use(xlink:href=`./img/sprite.svg#${iconName}`)