//- Usage examples:
  +embed('16x9')
    iframe(src='https://www.youtube.com/embed/dQw4w9WgXcQ', frameborder='0', allowfullscreen='')
  +embed('4x3')
    iframe(src='https://www.youtube.com/embed/7pOr3dBFAeY', frameborder='0', allowfullscreen='')

mixin embed(mods)
  //- Params
  //- mods { string } - list of modifiers

  .embed(class=getModes('embed', mods))&attributes(attributes)
    block
