include ../container/container.pug
include ../burger/burger.pug
include ../main-nav/main-nav.pug

mixin header()
  header.header&attributes(attributes)
    +container().header__container
        +burger()
        +mainMenu()
