.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;
  background-color: rgba(#000, 0.5);
  opacity: 0;
  visibility: hidden;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease;
  }
}

body {
  &.is-animate {
    .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
