//- Сall example:
  +breadcrumbs()
    +breadcrumbs-item('Main', '/home')
    +breadcrumbs-item('Services', '/services')
    +breadcrumbs-item('Contact')

mixin breadcrumbs(mods)

  //- Takes on:
  //- mods {string} - list of modifiers

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs--' + modsList[i].trim();
      }
    }

  ul.breadcrumbs(class=allMods, aria-label='Breadcrumb', role='navigation')&attributes(attributes)
    block


mixin breadcrumbs-item(text, href, mods)

  //- Takes on:
  //- text {string} - item content
  //- href {string} - link of this item (if empty, then this is not a link, but a span)
  //- mods {string} - list of modifiers

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs__item--' + modsList[i].trim();
      }
    }

  li.breadcrumbs__item(class=allMods)&attributes(attributes)
    if(typeof(href) !== 'undefined' && href)
      a(href=href)!= text
    else
      span!= text
