//- Usage example:
  +breadcrumbs()
    +breadcrumbs-item('Main', '/home')
    +breadcrumbs-item('Services', '/services')
    +breadcrumbs-item('Contact')

mixin breadcrumbs(mods)
  //- Params
  //- mods {string} - list of modifiers

  - const classes = $getMods('breadcrumbs', mods);

  ul.breadcrumbs(class=classes aria-label='Breadcrumb' role='navigation')&attributes(attributes)
    block

mixin breadcrumbs-item(text, href, mods)
  //- Params:
  //- text { string } - item content
  //- href { string } - link of this item (if empty, then this is not a link, but a span)
  //- mods { string } - list of modifiers

  - const classes = $getMods('breadcrumbs__item', mods);

  li.breadcrumbs__item(class=classes)&attributes(attributes)
    if (href)
      a(href=href)!= text
    else
      span!= text
