.breadcrumbs {
  $verticalOffset: em(15);
  $separatorOffset: em(8);
  $separatorSymbol: '/';

  margin: $verticalOffset 0;
  padding: 0;
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $separatorOffset;

      &::after {
        display: inline-block;
        margin-left: $separatorOffset;
        color: inherit;
        content: $separatorSymbol;
      }
    }
  }
}
