.breadcrumbs {
  margin: rem(15) 0px;
  padding: 0;
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    display: inline-block;
    margin-right: rem(10);
    white-space: nowrap;

    &::after {
      display: inline-block;
      margin-left: rem(15);
      color: #5e5c5c;
      content: '/';
    }

    &:last-child::after {
      display: none;
    }
  }
}
