// Replacement for default html colors
$aqua: hsl(197deg 100% 75%);
$blue: hsl(208deg 100% 43%);
$navy: hsl(210deg 100% 12%);
$teal: hsl(180deg 59% 51%);
$green: hsl(127deg 63% 49%);
$olive: hsl(153deg 43% 42%);
$lime: hsl(146deg 100% 50%);
$yellow: hsl(52deg 100% 50%);
$orange: hsl(28deg 100% 55%);
$red: hsl(3deg 100% 61%);
$fuchsia: hsl(314deg 88% 51%);
$purple: hsl(292deg 88% 42%);
$maroon: hsl(331deg 74% 30%);
$white: hsl(0deg 0% 100%);
$silver: hsl(0deg 0% 87%);
$gray: hsl(0deg 0% 67%);
$black: hsl(0deg 0% 7%);
