// Breakpoints are written as a fraction for mobile-first to work correctly.
$breakpoint1440: 1439.98px; // 90em
$breakpoint1248: 1247.98px; // 78em
$breakpoint1024: 1023.98px; // 64em
$breakpoint768: 767.98px; // 48em
$breakpoint640: 639.98px; // 40em
$breakpoint560: 559.98px; // 35em
$breakpoint480: 479.98px; // 30em
$breakpoint400: 399.98px; // 25em
