mixin menuItem(item)
  - var activeClass = menuHref === item.link ? " is-active" : "";
  - item.subitems ? activeClass += "nav__item--parent" : null;
    li.nav__item(class= activeClass)
      if (typeof(item.link) !== 'undefined' && item.link)
        a(href = item.link)!= item.text
      else
        a(href = '#')!= item.text

      if block
        block

mixin navMenu(hasBurger = true)

  //- Takes on:
  //- hasBurger { true / false } - if set to true, then a burger menu appears at a certain width

  if (typeof(hasBurger) !== 'undefined' && hasBurger)
    nav.nav(data-burger-nav)
      ul.nav__list
        each item in mainmenuData
          +menuItem(item)

            if (item.subitems)
              ul.nav__dropdown
                each subitem in item.subitems
                  +menuItem(subitem)
  else
    nav.nav
      ul.nav__list
        each item in mainmenuData
          +menuItem(item)

            if (item.subitems)
              ul.nav__dropdown
                each subitem in item.subitems
                  +menuItem(subitem)
