.header__nav {

  @include media('md') {
    position: fixed;
    z-index: $zi-modal;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left 0.4s ease;
    background-color: $black;

    &._active {
      left: 0;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: rem(25);
    padding-left: 0;
    list-style: none;
    font-size: $font-size;
    font-weight: 500;

    @include media('md') {
      padding-top: rem(30);
      font-size: $font-size-h3;
      flex-direction: column;
    }
  }

  &-item {
    padding: 15px 0px;

    @include media('md') {
      padding: 10px 0px;
      text-align: center;
    }

    &--parent {
      position: relative;
      cursor: pointer;

      @include hover {

        > a {
          color: $color-main;

          &::after {
            border-top-color: $color-main;
            border-right-color: $color-main;
            transform: rotate(315deg);
            margin-top: 7px;
          }
        }

        .header__nav-dropdown {
          margin-top: 0;
          opacity: 1;
          pointer-events: all;
        }
      }

      a {
        display: flex;
        gap: 10px;

        &::after {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          transform: rotate(135deg);
          transition: border-top-color 0.5s ease, border-right-color 0.5s ease,
            transform 0.5s ease, margin-top 0.5s ease;
          margin-top: 3px;
          border-top: 2px solid $text-color;
          border-right: 2px solid $text-color;

          @include media('md') {
            border-top-color: $gray-800;
            border-right-color: $gray-800;
          }
        }
      }
    }

    a {
      color: $text-color;
      text-decoration: none;
      transition: color 0.4s ease;

      @include media('md') {
        color: $gray-800;
      }

      @include hover {
        color: $color-main;
      }
    }

    &.is-active {
      color: $color-main;
    }
  }

  &-dropdown {
    position: absolute;
    z-index: $zi-dropdown;
    cursor: auto;
    top: 45px;
    right: 0;
    margin-top: rem(15);
    min-width: rem(150);
    background-color: $gray-300;
    box-shadow: 0 0 5px 0 $black;
    padding: rem(10) rem(15);
    font-size: $font-size-sm;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, margin-top 0.2s ease;

    @include media('md') {
      left: 50%;
      min-width: rem(200);
      padding: rem(7) rem(10);
      transform: translateX(-50%);
    }

    .header__nav-item {
      display: block;
      padding: rem(10) 0px;

      @include media('md') {
        padding: 8px 0px;
      }

      a {
        display: inline-block;
        color: $gray-800;

        @include hover {
          color: $color-main;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
