.accordion {
  $this: &;
  $transitionDelay: 0.2s;

  // 'dp' - 'default pattern'
  $dpBackgroundColor: #fff;
  $dpDisabledBackgroundColor: rgba(#000, 0.15);
  $dpAccordionShadow: 0px 1px 3px 0px rgba(#000, 0.2), 0px 1px 1px 0px rgba(#000, 0.14),
    0px 2px 1px -1px rgba(#000, 0.12);
  $dpAccordionBorderRadius: em(2);
  $dpTriggerMinHeight: em(48);
  $dpTriggerPadding: em(12) em(48) em(12) em(24);
  $dpTriggerArrowColor: $gray-200;
  $dpPanelVerticalOffset: em(16);
  $dpPanelPadding: 1.5em;

  &__item {
    position: relative;

    &[disabled],
    &[aria-disabled='true'] {
      pointer-events: none;
    }
  }

  &__trigger {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;

    &[disabled] {
      pointer-events: none;
    }
  }

  &__panel {
    height: 0;
    overflow: hidden;

    &[aria-hidden='false'] {
      height: auto;
      overflow: auto;
    }
  }

  &_style_default {
    @at-root #{$this}__item {
      background-color: $dpBackgroundColor;
      box-shadow: $dpAccordionShadow;

      &:first-child {
        border-top-left-radius: $dpAccordionBorderRadius;
        border-top-right-radius: $dpAccordionBorderRadius;
      }

      &:last-child {
        border-bottom-right-radius: $dpAccordionBorderRadius;
        border-bottom-left-radius: $dpAccordionBorderRadius;
      }

      &[disabled],
      &[aria-disabled='true'] {
        background-color: $dpDisabledBackgroundColor;
        box-shadow: none;

        @at-root #{$this}__trigger {
          opacity: 0.5;
        }
      }
    }

    @at-root #{$this}__trigger {
      box-sizing: border-box;
      min-height: $dpTriggerMinHeight;
      padding: $dpTriggerPadding;
      text-align: left;

      &[aria-expanded='true'] {
        &::after {
          transform: rotate(225deg);
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 20px;
        display: block;
        width: 6px;
        height: 6px;
        margin-top: -5px;
        border-color: $dpTriggerArrowColor;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transform-origin: 65% 65%;
        transition: all $transitionDelay ease-in-out;
        content: '';
      }
    }

    @at-root #{$this}__panel {
      padding: $dpPanelPadding;
    }
  }
}
