.accordion {
  $block-class: &;
  // $panel-anim-ease: cubic-bezier(0.19, 1, 0.22, 1);

  &__item {
    position: relative;

    &[disabled],
    &[aria-disabled='true'] {
      pointer-events: none;
    }
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background: none;
    border: 0;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &[disabled] {
      pointer-events: none;
    }
  }

  &__panel {
    height: 0;
    overflow: hidden;

    &[aria-hidden='false'] {
      height: auto;
      overflow: auto;
    }
  }

  &_style_default {
    @at-root #{$block-class}__item {
      background-color: #fff;
      box-shadow: 0px 1px 3px 0px rgba(#000, 0.2),
        0px 1px 1px 0px rgba(#000, 0.14), 0px 2px 1px -1px rgba(#000, 0.12);
      transition: margin 0.2s ease-in-out;

      &[data-accordion-item-open='true'] {
        margin-top: em(16);
        margin-bottom: em(16);
        border-radius: em(2);
      }

      &:first-child {
        border-top-left-radius: em(2);
        border-top-right-radius: em(2);
      }

      &:last-child {
        border-bottom-right-radius: em(2);
        border-bottom-left-radius: em(2);
      }

      &[disabled],
      &[aria-disabled='true'] {
        background-color: rgba(#000, 0.15);
        box-shadow: none;

        @at-root #{$block-class}__trigger {
          opacity: 0.5;
        }
      }
    }

    @at-root #{$block-class}__trigger {
      box-sizing: border-box;
      min-height: 48px;
      padding: em(12) em(48) em(12) em(24);
      text-align: left;

      &:focus,
      &:hover {
        z-index: 10;
      }

      &[aria-expanded='true'] {
        &::after {
          transform: rotate(225deg);
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 20px;
        display: block;
        width: 6px;
        height: 6px;
        margin-top: -5px;
        border-color: $gray-200;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transform-origin: 65% 65%;
        transition: all 0.2s ease-in-out;
        content: '';
      }
    }

    @at-root #{$block-class}__panel {
      padding: 1.5em;
    }
  }
}
