@import '../core/mixins/units/_units';

// Nav Item Styles
$gapBetweenNavItems: 1.25em;

// Nav Text Styles
$navTextColor: $base-text-color;
$navTextHoverColor: $color-main;
$navTextActiveColor: $color-main;
$navFontSize: $base-font-size;

// Text Styles In Opened Nav
$openedNavTextColor: $gray-100;
$openedNavFontSize: 1em;

// Nav Styles On Mobiles
$mobileNavBackgroundColor: $gray-800;

// Dropdown Menu Styles
$dropdownMenuWidth: rem(250);
$dropdownShadow: 0 2px 18px rgb(0 0 0 / 25%);
