// Main-navigation styles
$nav-background: $gray-800;
$nav-text-color: $base-text-color;
$nav-text-color-active: $color-main;
$nav-text-color-hover: $color-main;
$nav-font-size: $base-text-color;
$nav-opened-text-color: $gray-100;
$nav-opened-font-size: 16px;

// Burger styles
$burger-color: $base-text-color;
$burger-color-active: $gray-100;
