// Base
$base-body-bg: $gray-900;
$base-text-color: $gray-100;
$base-font-family: $system-font;
$base-font-family-monospace: $mono-font;
$base-font-size: 16px;
$base-font-size-sm: 0.8em;
$base-line-height: 1.5;
$base-spacing: 20px;

// Headings
$heading-font-family: $base-text-color;
$heading-color: $base-text-color;
$heading-font-weight: 700;
$h1-font-size: 2.25em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;
